{% extends 'base.html' %}

{% block content %}

            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div><span><strong>{{ message }}</strong></span></div>
                {% endif %}
            {% endfor %}
<div class="product">
        {% for obj in object_list %}
            <div class="object_product">
                <div class="product_description">
                    <h3>{{ obj.title }}</h3><br>
                    ЦЕНА: {{ obj.price }}uah <br>
                    В НАЛИЧИИ: {{ obj.amount }} шт.
                    {% if user.is_authenticated and not user.is_superuser %}
                        <form method="post" action="{% url 'buy' obj.id %}">
                            {% csrf_token %}
                            {{ form }}
                            <button type="submit">Buy</button>
                        </form>
                    {% elif user.is_superuser %}
                        <form method="get" action="{% url 'product-update' obj.id %}">
                            {% csrf_token %}
                            <button type="submit">Update</button>
                        </form>
                    {% endif %}
                </div>
                <div class="product_image">
                    <img src="media/{{ obj.image }}" alt="product_image" width="150px">
                </div>
            </div><br>
        {% endfor %}
        <div>
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
            </span>
        </div>
        <br>
{% if user.is_superuser %}
    <a href="{% url 'product-create' %}">CREATE NEW PRODUCT</a>
{% endif %}

</div>
{% endblock %}