body{
    background-color: #dad8d8;
}

.header{
    background-color: orange;
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 75%;
    margin: 25px auto 35px;
}
a{
    text-decoration: none;
    padding: 5px;
}

.header div > a:hover{
    box-shadow: 0px 0px 13px 10px #fff;
    border-radius: 10px;
}
.content{
    width: 65%;
    margin: 0 auto;
}
.product{
    display: flex;
    flex-direction: column;
}
.object_product{
    padding: 10px 15%;
    margin-bottom: 10px ;
    border: 2px solid orange;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.product_description{
    color: #6c4a0a;
}
.object_product form {
    margin-top: 18px
}
.product_description input{
    width: 90px;
}
h3 {
    margin: 0;
}